### Make sure you update the paths to your directories

[general]
enable_bucket = true

[[datasets]]
resolution = 512
batch_size = 2 # you might want to have a bigger batch_size to make the training faster.
#caption_extension = '.txt'

  [[datasets.subsets]]
  image_dir = '/Users/testuser/Desktop/train_data_dir/4ida'
  class_tokens = 'ohwx woman'
  num_repeats = 20
  caption_extension = '.txt'

  [[datasets.subsets]]
  is_reg = true
  class_tokens = 'woman'
  image_dir = '/Users/testuser/Desktop/train_data_dir/reg'
